{% extends "network/layout.html" %}

{% block body %}
<h2>All Posts</h2>
<form method="POST">
    {% csrf_token %}
    <h3>New Post</h3>
    <div class="form-group">
        <textarea class="form-control" name="description" rows="4" placeholder="description"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Post">
</form>
{% for post in posts %}
<div>
    <a href="{% url 'profile' post.owner.username %}">@{{ post.owner }}</a>
    <p>{{ post.description }}</p>
    <p>{{ post.dateandhour }}</p>
    <button id="liked">Likes: {{post.like}}</button>
    <br>
</div>
{% endfor %}


{% endblock %}