{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<h1>@{{profileuser.username}}</h1>
{% if profileowner %}
    <p>{{ profileowner }}</p>
{% else %}
    {% if followed %}
        <form method="POST" action="{% url 'profile' profileuser.username %}">
            {% csrf_token %}
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
    <form method="POST" action="{% url 'profile' profileuser.username %}">
        {% csrf_token %}
        <button type="submit">Follow</button>
    </form>
    {% endif %}
{% endif %}
<h3>User information:</h3>
<ul>
    <li>{{ profileuser.email }}</li>
    <li>Total followers: {{ followers }}</li>
    <li>Followings: {{ followings }}</li>
</ul>
<h2>Posts:</h2>
{% for post in profilepost %}
<div>
    <a href="{% url 'profile' post.owner.username %}">@{{ post.owner }}</a>
    {%if request.user == post.owner%}
    <span class="text-primary edit" data-id="{{post.id}}" id="edit-btn-{{post.id}}">Edit</span>
    {%endif%}
    <p id="post-content-{{post.id}}" class="post">{{ post.description }}</p>
    <textarea data-id="{{post.id}}" id="post-edit-{{post.id}}" style="display:none;" class="form-control textarea" row="3">{{post.description}}</textarea>
    <div>
        <span>{{ post.dateandhour }}</span>
        <span class="like mt-3">
            {% if not request.user in post.likedby.all %}
            <img data-id="{{post.id}}" id="post-like-{{post.id}}" class="liked" data-is_liked="no" src="https://img.icons8.com/carbon-copy/100/000000/like--v2.png">
            {%else%}
            <img data-id="{{post.id}}" class="liked" data-is_liked="yes" src="https://img.icons8.com/plasticine/100/000000/like.png">
            {%endif%}
            <span id="post-count-{{post.id}}">{{post.likedby.count}}</span>
        </span>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}